<div class="container">
    <input type="search" [(ngModel)]="searchString" placeholder="zadejte text">
    <pre *ngIf="false">{{groups | json}}</pre>
    zvolit <button (click)="selectAll()">vse</button> / <button (click)="selectNone()">nic</button>
    priradit skupine: <select [(ngModel)]="selectedGroup" (change)="assignToGroup()">
        <option *ngFor="let group of groups" [ngValue]="group">{{group.label}}</option>
    </select>
    <div *ngIf="selectedSensors.length > 0">
        prejmenovat: <input type="text" *ngIf="selectedSensors.length === 1" [(ngModel)]="selectedSensors[0].label">
    </div>
    <app-sensor *ngFor="let sensor of sensors | filter: searchString" [sensors]="sensors" [sensor]="sensor" [(selectedSensors)]="selectedSensors"></app-sensor>
</div>