.container {
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 2px;
    color: #222;
    background-color: lightgray;
    margin: 2px;
    padding: 4px;
}
input{
    color: #222;
    background-color: lightgray;
}